<launch>
  <!-- Top-level args (override from CLI) -->
  <arg name="params_file"
       default="$(find-pkg-share nav2_custom_controller)/param/burger_custom_controller.yaml"/>
  <arg name="map"
       default="/home/andrew/workspaces/turtlebot3_navproject_public/src/maps/trial_3/trial_3.yaml"/>
  <arg name="headless" default="False" /> <!-- false => show Gazebo GUI -->

  <!-- Include the Nav2 tb3 simulation bringup (spawns TB3 + brings up Nav2) -->
  <include file="$(find-pkg-share turtlebot3_navigation2)/launch/navigation2.launch.py">
    <arg name="params_file" value="$(var params_file)"/>
    <arg name="map" value="$(var map)"/>
    <arg name="headless" value="$(var headless)"/>
  </include>
</launch>